C 0 0 "VCC" 0 0 0 0 60 0 L
X "PIN_TEXT" "VCC" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VOUT" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VOUT" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 1100 0 "GND" 1100 0 0 0 60 0 R
X "PIN_TEXT" "GND" 870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 900 0 1100 0 -1 0
L 200 100 900 100 -1 0
L 900 -200 900 100 -1 0
L 900 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

