C 0 0 "B" 0 0 0 0 60 0 L
X "PIN_TEXT" "B" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "E" 0 -100 0 0 60 0 L
X "PIN_TEXT" "E" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 800 0 "C" 800 0 0 0 60 0 R
X "PIN_TEXT" "C" 570 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 600 0 800 0 -1 0
L 200 100 600 100 -1 0
L 600 -200 600 100 -1 0
L 600 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 650 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

